{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}User Stories{% endblock title %}</h2>
{% endblock header %}

{% block content %}

<h3>Exporting to trello</h3>

<p>
    Exporting to trello is a feature that allows you to export your user stories to a trello board.</p>

<p>Done!</p>

<p>Go to <a href="https://trello.com/">Trello.com</a> to see your board!</p>
<!-- <p>
    Learn more about this project by visiting the <a href="{{ url_for('about') }}">About page</a>.
</p> -->
{% endblock content %}