{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}

    {% endblock title %}
</h2>
{% endblock header %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>
{% block content %}


<h3>Boards</h3>

<ul class="left">

    <table border="1" class="table">
        <tr class="table-primary">
            <th scope="col">Type</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Created At</th>
            <th scope="col">Created By</th>
            <th scope="col">ID</th>
            <th scope="col">User Stories</th>
        </tr>

        {% for board in boards_list %}

        <tr>
            <td>{{board.type}}</td>
            <td>{{board.name}}</td>
            <td>{{board.description}}</td>
            <td>{{board.createdAt}}</td>
            <td>{{board.createdBy['name']}}</td>
            <td>{{board.id}}</td>
            <td><a class="btn btn-outline-info"
                    href="{{url_for('user_stories', selected_id=board.id, board_name=board.name, access_token=miro_token, trello_token=trello_token, trello_api_key=trello_api_key, dados_usuario=dados_usuario)}}">Generate</a>
            </td>
        </tr>

        {% endfor %}
    </table>
    <p>
        Learn more about this project by visiting the <a href="{{ url_for('about') }}">About page</a>.
    </p>
    {% endblock content %}